div .Pixel {
  float: left; 
  width: 1px; 
  height: 1px;
}
div .Pixel-red {
  background-color: red;
}
div .Pixel-black {
  background-color: black;
}

div .Error {
  text-align: center;
}

div .Loading {
  text-align: center;
}
